<div class="mainDiv">
    <div class="cardStyle">
        <form action="/admin/edit-password?_method=PATCH" method="POST" >

            <img src="" id="signupLogo" />

            <h2 class="formTitle">
                Đổi mật Khẩu
            </h2>

            <div class="inputDiv">
                <label class="inputLabel" for="password">Mật khẩu mới</label>
                <input type="password" id="password" name="password">
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Nhập lại mật khẩu</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
            </div>

            <div class="inputDiv mt-2">
                {{#if err}}
                <span>{{message}}</span>
                {{/if}}
            </div>
            
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" 
                    class="submitButton pure-button pure-button-primary">
                    <span>Thay đổi</span>
                </button>
            </div>

        </form>
    </div>
</div>