<div class="sidebar close">
    <div class="logo-details">
        <i class="fa-solid fa-book"></i>
        <span class="logo_name">LMS</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span class="link_name">Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="/admin/profile">
                <i class="fa-solid fa-address-card"></i>
                <span class="link_name">Hồ sơ</span>
            </a>
        </li>
        <li>
            <div class="icon-link d-flex">
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    <span class="link_name">Người dùng</span>
                </a>
                <i class='fa-solid fa-arrow-down arrow ms-auto'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="/users/show">Tất cả thông tin người dùng</a></li>
                <li><a href="/users/status">Trạng thái người dùng</a></li>
                <li><a href="/users/create">Thêm người dùng</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link d-flex">
                <a href="#">
                    <i class="fa-solid fa-book-open"></i>
                    <span class="link_name">Quản lý sách</span>
                </a>
                <i class='fa-solid fa-arrow-down arrow ms-auto'></i>
            </div>
            <ul class="sub-menu">
                <li><a href="/books/show">Tất cả sách</a></li>
                <li><a href="/books/create">Thêm sách</a></li>
            </ul>
        </li>
        <li>
            <a href="/information-borrow/show">
                <i class="fa-brands fa-shopware"></i>
                <span class="link_name ">Thông tin mượn trả</span>
            </a>
        </li>
        
    </ul>
</div>


