<div class="m-4">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-background" style="width: 18rem; background: #9ec5fe;">
                <h5 class="card-title mx-auto mt-2">Người dùng</h5>
                <h1 class="card-text mx-auto">{{user}}</h1>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card card-background" style="width: 18rem; background: #9ec5fe;">
                <h5 class="card-title mx-auto mt-2">Sách</h5>
                <h1 class="card-text mx-auto">{{book}}</h1>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card card-background" style="width: 18rem; background: #9ec5fe;">
                <h5 class="card-title mx-auto mt-2">Sách đang mượn</h5>
                <h1 class="card-text mx-auto">{{borrowBook}}</h1>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card card-background" style="width: 18rem; background: #9ec5fe;">
                <h5 class="card-title mx-auto mt-2">Sách đã trả</h5>
                <h1 class="card-text mx-auto">{{returnBook}}</h1>
            </div>
        </div>
    </div>
</div>